@import url(layout/header.css);
@import url(layout/form.css);
@import url(layout/datepicker.css);
@import url(layout/1.css);
@import url(layout/2.css);
@import url(layout/3.css);
@import url(layout/4.css);
@import url(layout/5.css);
@import url(layout/6.css);
@import url(layout/footer.css);

.text {
   line-height: 22px;
   font-size: 14px;
   color: var(--primary__text);
}

@media (max-width:768px) {
   .text {
      font-size: 12px;
   }
}

.title {
   font-family: "YesevaOne";
   font-weight: 900;
}

.container {
   max-width: 1300px;
   /* max-width: 100%; */
   padding: 0 15px;
   /* padding: 0 70px; */
   margin: 0 auto;
   height: 100%;
}

.tre {
   transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
}

.tac {
   text-align: center;
}

.btn {
   cursor: pointer;
   background: var(--active__color);
   border: transparent;
   outline: none;
   padding: 15px 30px;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   font-family: 'AtypText', sans-serif;
   color: var(--base__text);
}

h1,
h2 {
   font-size: 64px;
   line-height: 75px;
   color: var(--base__color);
}

h2 {
   color: var(--base__text);
}

h3 {
   font-size: 48px;
   line-height: 55px;
   color: var(--base__text);
   position: relative;
}

h3::before,
h3::after {
   content: '';
   display: block;
   width: 1500px;
   height: 1px;
   position: absolute;
   background: var(--primary__text);
   top: calc(50% + 5px);
}

h3::before {
   left: -90%;
}

h3::after {
   right: -90%;
}

@media (max-width:1260px) {
   h3::before {
      left: -65%;
      width: 1000px;
   }

   h3::after {
      width: 1000px;
      right: -65%;
   }
}

@media (max-width:1070px) {
   h3::before {
      width: 20vw;
      left: -15px;
   }

   h3::after {
      width: 20vw;
      right: -15px;
   }
}

@media (max-width:768px) {
   h3 {
      font-size: 20px;
      line-height: 23px;
   }
}

h4 {
   font-size: 36px;
   color: var(--base__text);
   line-height: 42px;
}

@media (max-width:768px) {
   h4 {
      font-size: 20px;
      line-height: 25px;
   }
}

.menu .current {
   color: var(--base__text);
   border-color: var(--base__text);
}


.offer__section {
   padding: 40px 25px 40px 40px;
   border: 1px solid var(--primary__text);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 70px;
}

.offer__section-content {
   margin-right: 70px;
}

.offer__section-title {
   font-weight: 600;
   margin-bottom: 15px;
}

.offer__section-link {
   padding: 34px 44px;
   background: var(--prelink__color);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
   display: flex;
   align-items: center;
}

.offer__section-img {
   margin-right: 25px;
}

.offer__section-link a {
   display: block;
   white-space: nowrap;
   color: var(--active__color);
   font-weight: 600;
}

.offer__section-link a span {
   color: var(--base__color);
   font-weight: 400;
}

.offer__section-link a img {
   padding-left: 5px;
   vertical-align: middle;
}

.home__space {
   padding: 70px 0;
}

.home__space .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
