.main__screen {
   margin-bottom: 55px;
}

.main__screen .container {
   display: flex;
}

.main__screen-content,
.main__screen-img {
   width: 50%;
}

.main__screen-content {
   background: var(--secondary__color);
   padding: 40px 50px;
   border-radius: 8px 0 0 8px;
   -webkit-border-radius: 8px 0 0 8px;
   -moz-border-radius: 8px 0 0 8px;
   -ms-border-radius: 8px 0 0 8px;
   -o-border-radius: 8px 0 0 8px;
}

.main__screen-img {
   max-height: 655px;
   background: url(../../img/main.jpg)no-repeat right/cover;
   border-radius: 0 8px 8px 0;
   -webkit-border-radius: 0 8px 8px 0;
   -moz-border-radius: 0 8px 8px 0;
   -ms-border-radius: 0 8px 8px 0;
   -o-border-radius: 0 8px 8px 0;
}

.main__title {
   margin-bottom: 55px;
}