.header {
   padding: 54px 0;
}

.header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu {
   display: flex;
   align-items: center;
}

.menu li {
   padding: 0 24px;
}

.menu li:first-child {
   padding-left: 0;
}

.menu li:last-child {
   padding-right: 0;
}

.menu li a {
   padding: 0 2px 10px;
   border-bottom: 1px solid transparent;
}

.menu li a:hover {
   color: var(--base__text);
   border-bottom-color: var(--base__text);
}

.header__contacts {
   display: flex;
   align-items: center;
}

.header__phone {
   margin-right: 27px;
}

.header__contacts-icons a {
   margin-right: 24px;
}

.header__contacts-icons a:last-child {
   margin-right: 0;
}