@font-face {
   font-family: "p22-mackinac-pro";
   src: url("https://use.typekit.net/af/00dec1/00000000000000007735b3d4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff");
   font-display: auto;
   font-style: normal;
   font-weight: 500;
   font-stretch: normal;
}

@font-face {
   font-family: "visuelt-pro";
   src: url(visuelt-regular-pro_4802e36e.eot);
   src: url(visuelt-regular-pro_4802e36e.eot) format("embedded-opentype"),url(visuelt-regular-pro_f5f38fa3.woff2) format("woff2"),url(visuelt-regular-pro_9fb015bc.woff) format("woff"),url(visuelt-regular-pro_be34e332.ttf) format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: swap
}

@font-face {
   font-family: "visuelt-pro";
   src: url(visuelt-bold-pro_9d74889f.eot);
   src: url(visuelt-bold-pro_9d74889f.eot) format("embedded-opentype"),url(visuelt-bold-pro_080c583b.woff2) format("woff2"),url(visuelt-bold-pro_ebddf5d8.woff) format("woff"),url(visuelt-bold-pro_af7c5978.ttf) format("truetype");
   font-weight: 700;
   font-style: normal;
   font-display: swap
}